<div class="panel panel-primary">
    <div class="panel-body">
        Momenty:
    </div>
</div>

<div>
    <button id="option1" type="button" class="list-group-item" (click)="setMxxTopMoments()">Mxx Top</button>
    <button id="option2" type="button" class="list-group-item" (click)="setMxxBottomMoments()">Mxx Bottom</button>
    <button id="option3" type="button" class="list-group-item" (click)="setMyyTopMoments()">Myy Top</button>
    <button id="option4" type="button" class="list-group-item" (click)="setMyyBottomMoments()">Myy Bottom</button>
</div>